<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Forms</title>
</head>
<body>
    <h1>Fill out the form!</h1>
    <div class="container">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <!--Cross Site Request Forgery-->
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>
</html>