<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">    
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcom home page</h1>
            <h2>Go to /formpage to fill out the form</h2>
        </div>
    </div>
</body>
</html>