{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Level Three</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
</head>
<body>
    <h1>Hi welcom to Django level two</h1>
    <h2>Here are you are access records:</h2>
    <div class="djangotwo">
        {% if access_records %}
            <table border=1>
                <tr>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </tr>
                {% for acc in access_records %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>NO ACCESS RECOREDS FOUND!</p>
        {% endif %}
    </div>
    <div class="logo">
        <img src="{% static "images/django.png" %}">
    </div>
</body>
</html>